{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} login
{% endblock %} {% block content %}

<div class="container">
  <div class="p-3 m-3">
    <div class="col-lg-5 rounded mx-auto border p-4">
      <h3 class="alert alert-success rounded-pill" style="text-align: center">
        Log In
      </h3>

      <form action="" method="POST">
        {% csrf_token %} {{form | crispy }}
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label d-grid gap-2" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <hr />
        <button type="submit" class="btn btn-sm btn-success col-lg-12">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
